body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: darkgray;
    border-bottom: 1px solid black;
}

#gameContainer {
    position: relative;
    width: 1250px; /* Largura do quadro do jogo */
    height: 500px; /* Altura do quadro do jogo */
    margin: 0 auto; /* Centralizar horizontalmente */
}

#startButton {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
